@font-face {
    font-family: "Avenir";
    src: url( /fonts/AvenirLTStd-Black.otf );
}

/* website colors */
:root {
    --white: #fff;
    --black: #000;
    --text-color-1: #484848;
    --text-color-2: #424242;
    --text-color-dark: #292929;
    --accent: #01996D;
    --accent-light: #CCEBE3;
    --accent-dark: #245852;
    /* Fonts Families */
    --noto-sans: 'Noto Sans Georgian', serif;
    --lato: 'Lato', sans-serif;
    --avenir: 'Avenir', serif;

}

/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Content container */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

/* Menu overlay */
.wrapper::before {
    content: '';
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    background-color: var(--text-color-2);
}

.wrapper:has( .header-navigation.show )::before {
    opacity: 0.6;
    visibility: visible;
}

/* Underline decor with animation */
.underline {
    position: relative;
}

.underline::before {
    content: '';
    height: 1px;
    background-color: transparent;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.underline:hover::before {
    left: 0;
    background-color: var(--accent);
    width: 100%;
}

/* General styles */
a {
    color: inherit;
    display: inline-block;
}

.title {
    font-weight: 700;
    font-size: clamp( 30px, 3vw, 50px );
    line-height: 1.56;
    font-family: var(--noto-sans);
    color: var(--accent);
}

.subtitle {
    font-family: var(--lato);
    font-size: clamp( 18px, 2vw, 25px );;
    line-height: 1.25;
    color: var(--text-color-2);
}

.paragraph {
    font-family: var(--lato);
    font-size: clamp( 14px, 2vw, 20px );
    line-height: 1.5;
    color: var(--text-color-2);
}

.btn {
    transition: background-color 0.3s ease-in-out;
    font-family: var(--lato);
    font-size: clamp( 14px, 3vw ,20px );
    line-height: clamp( 20px, 3vw ,30px );
    border-radius: 4px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--accent);
    text-align: center;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: var(--accent-dark);
}

/* HEADER */
.header {
    padding: 14px 0;
    font-family: var(--lato);
    font-size: clamp( 14px, 3vw ,20px );
    line-height: 20px;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: clamp(22px, 2vw, 26px);
    line-height: 1.375;
    color: var(--accent);
    font-family: var(--avenir);
}

.header-navigation {
    display: grid;
    position: absolute;
    grid-template-rows: 0fr;
    z-index: 1;
    background-color: var(--white);
    left: 10px;
    right: 10px;
    top: 80px;
    transition: grid-template-rows 0.3s ease-in-out;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-navigation.show {
    grid-template-rows: 1fr;
}

.header-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}

.header-navigation__item {
    padding: 16px 0;
}

.header-actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-actions__menu {
    display: block;
    border: 1px solid var(--accent);
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.header-actions__start-trial,
.header-actions__menu {
    padding: 10px;
}

/* MAIN */
/* HERO SECTION */
.hero-section {
    background-image: url("./assets/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1920 / 895;
    max-height: 895px;
    padding: 50px 0;
    margin: 0 auto;

}

.hero-section__wrapper {
    max-width: 440px;
}

.hero-section__title {
    font-size: clamp(40px, 4vw, 65px);
    line-height: 1.14;
}

.hero-section__subtitle {
    margin: 30px 0 50px;
}

/* HOW IT WORKS SECTION */
.how-it-works-section {
    padding: 50px 0;
}

.how-it-works-section__title {
    margin: 10px 0;
}

.how-it-works-section__cards {
    counter-reset: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 390px));
    row-gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
}

.how-it-works-section-card {
    counter-increment: cards;
}

.how-it-works-section-card:nth-child(2) {
    grid-row: span 2;
    align-self: center;
}

.how-it-works-section-card__title {
    position: relative;
    margin: 3rem 0 2rem 2rem;
    font-family: var(--noto-sans);
    color: var(--black);
    font-size: clamp( 20px, 3vw, 30px );
    line-height: 45px;
    font-weight: 700;
}

.how-it-works-section-card__title::before {
    content: '0' counter( cards );
    color: var(--accent-light);
    position: absolute;
    bottom: 0;
    left: -30px;
    font-family: var(--noto-sans);
    font-size: clamp(100px, 2vw, 150px);
    line-height: 1;
    z-index: -1;
}

.how-it-works-section-card__image {
    margin-top: 2rem;
    border-radius: 12px;
}

.how-it-works-section-card__image > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* SUCCESS STORY SECTION */
.success-story-section {
    padding: 80px 0;
    background-color: var(--accent-dark);
}

.success-story-section__title {
    color: var(--white);
    margin-bottom: 1rem;
}

.success-story-section__subtitle {
    color: var(--white);
    margin-bottom: 1rem;
}

.success-story-section__image-wrapper {
    border-radius: 15px;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 896px;
}

.success-story-section__image-wrapper > img {
    max-width: 100%;
    display: block;
}

/* OUR PRODUCT SECTION */
.our-product-section {
    padding: 50px 0;
}

.our-product-section__wrapper {
    display: grid;
    gap: 2rem;
}

.our-product-section__subtitle {
    margin-bottom: 1rem;
}

.our-product-section__title {
    margin-bottom: 1rem;
}

.our-product-section__paragraph {
    margin-bottom: 1rem;
}

.our-product__image-wrapper {
    position: relative;
}

.our-product__image {
    max-width: 100%;
}

/* Avatar profile */
.our-product-biography {
    position: absolute;
    max-width: 300px;
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    padding: 10px;
    bottom: -10%;
    left: -5%;
    font-family: var(--lato);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.our-product-biography__title {
    font-size: clamp(10px, 3vw, 15px);
    font-weight: 600;
    line-height: 1.5;
    position: relative;
}

.our-product-biography__title::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 1px;
    background-color: var(--black);
    width: 120%;
}

.our-product-biography__name {
    font-size: clamp(8px, 3vw, 12px);
    line-height: 1.6;
    font-weight: 400;
}

.our-product-biography__avatar {
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: block;
    aspect-ratio: 1 / 1;
    width: clamp(30px, 3vw, 50px);
}

.our-product-biography__text {
    font-family: var(--noto-sans);
    font-weight: 700;
    font-size: clamp(10px, 3vw, 16px);
    line-height: 1.5;
    margin: 1rem 0;

}

.our-product-biography__list {
    font-size: clamp(8px, 3vw, 11px);
    line-height: 2;
}

.our-product-biography__item {
    list-style: disc;
}

/* FOOTER */
.footer {
    padding: 3rem 0 5rem;
    background-color: var(--accent-dark);
}

.footer__logo {
    font-family: var(--avenir);
    margin-bottom: 30px;
    font-size: clamp(20px, 3vw, 40px);
    line-height: 1.375;
    color: var(--white);
}

.footer-navigation {
    font-family: var(--lato);
    font-size: clamp(16px, 3vw, 25px);
    font-weight: 600;
    line-height: 1.25;
    color: var(--white);
}

.footer-navigation__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    /* General */
    .container {
        max-width: 540px;
        padding: 0 1rem;
    }

    /* Header */
    .header {
        padding: 14px 0;
    }

    /* Success story */
    .success-story-section {
        padding: 80px 0;
    }

    /* Our product section */
    .our-product-biography {
        left: -10%;
    }
}

@media screen and (min-width: 768px) {
    /* General */
    .container {
        max-width: 576px;
        padding: 0 1rem;
    }

    .btn {
        padding: 15px 30px;
    }
}

@media screen and (min-width: 992px) {
    /* General */
    .container {
        max-width: 960px;
        padding: 0 1rem;
    }

    /* Header */
    .header-actions__menu {
        display: none;
    }

    .header-navigation {
        position: static;
        display: block;
    }

    .header-navigation__list {
        flex-direction: row;
        column-gap: 30px;
    }

    .how-it-works-section__cards {
        row-gap: 10rem;
        column-gap: 3rem;
    }

    /* Hero section */
    .hero-section {
        padding: 100px 0;
    }

    /* How it works section */
    .how-it-works-section__wrapper {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .how-it-works-section__title {
        margin: 0;
    }

    .how-it-works-section__paragraph {
        grid-row: 1 / 3;
        grid-column: 2/ 3;
        align-self: end;
    }

    .how-it-works-section-card__title {
        margin: 3rem 0 3rem 2rem;
    }

    /* Success story section */
    .success-story-section {
        padding: 5rem 0;
    }

    .success-story-section__wrapper {
        display: grid;
        column-gap: 2rem;
        justify-items: start;
        align-items: center;
        grid-template-columns: minmax(100px, 580px) minmax(200px, 896px);
    }

    .success-story-section__image-wrapper {
        margin-top: 0;
    }

    /* Our product */
    .our-product-section__wrapper {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
        gap: 6rem;
    }

    .our-product-section__info {
        grid-column: 2 / 3;
    }

    .our-product__image-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .our-product-section__paragraph {
        margin-bottom: 2.5rem;
    }

    /* Footer */
    .footer {
        padding: 4rem 0 6rem;
    }

    .footer-navigation__list {
        row-gap: 60px;
    }

    .footer__logo {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1440px) {
    /* General */
    .container {
        max-width: 1370px;
        padding: 0 1rem;
    }

    .btn {
        padding: 20px 50px;
    }

    /* Header */
    .header {
        padding: 18px 0;
    }

    .header__wrapper {
        justify-content: flex-start;
    }

    .header-navigation {
        margin: 0 auto 0 175px;
    }

    .header-navigation__list {
        column-gap: 70px;
    }

    .header-actions__start-trial,
    .header-actions__menu {
        padding: 13px 50px;
    }

    /* Hero section */
    .hero-section {
        padding: 175px 0 0 0;
    }

    /* How it works section */
    .how-it-works-section {
        padding: 170px 0 50px;
    }

    .how-it-works-section__cards {
        justify-content: space-between;
    }

    .how-it-works-section-card:nth-child(2) {
        align-self: end;
    }

    .how-it-works-section-card:last-child {
        grid-row: span 2;
        align-self: center;
    }

    /* Success story */
    .success-story-section {
        padding: 220px 0 176px;
    }

    .success-story-section__wrapper {
        justify-content: space-between;
        max-width: 1680px;
        padding: 0 80px;
    }

    .success-story-section__title {
        margin-bottom: 2rem;
    }

    .success-story-section__subtitle {
        margin-bottom: 3rem;
    }

    /* Our product */
    .our-product-section {
        padding: 120px 0 170px;
    }

    .our-product-section__wrapper {
        column-gap: 5rem;
    }

    /* Footer */
    .footer {
        padding: 6rem 0 9rem;
    }
}